#SPDX-License-Identifier: MIT-0
---
# tasks file for install_barman

- name: Install barman-cli packages on node1
  apt: 
    name: 
      - barman-cli 
    state: present 
    update_cache: true 
  when: (ansible_hostname != "barman")

- name: Install barman and barman-cli packages on barman
  apt: 
    name: 
      - barman 
      - barman-cli 
    state: present 
    update_cache: true 
  when: (ansible_hostname == "barman")


# --- Setup SSH infrustruture   ------

- name: Generate SSH key for postgres 
  user: 
    name: postgres 
    generate_ssh_key: yes 
    ssh_key_type: rsa 
    ssh_key_bits: 4096 
    force: no 
  when: (ansible_hostname == "node1")

- name: Generate SSH key for barman 
  user: 
    name: barman 
    uid: 994 
    shell: /bin/bash 
    generate_ssh_key: yes 
    ssh_key_type: rsa 
    ssh_key_bits: 4096 
    force: no 
  when: (ansible_hostname == "barman")

   # --- node1 -> barman   ----

- name: Get public key from node1 
  shell: cat /var/lib/postgresql/.ssh/id_rsa.pub 
  register: ssh_keys
  when: (ansible_hostname == "node1")

- name: Transfer public key to barman 
  delegate_to: barman 
  authorized_key: 
    key: "{{ ssh_keys.stdout }}"
    comment: "{{ansible_hostname}}" 
    user: barman 
  when: (ansible_hostname == "node1")   

   # ---   end   ----
  
   # --- barman -> node1   ----

- name: Fetch all public ssh keys from barman 
  shell: cat /var/lib/barman/.ssh/id_rsa.pub 
  register: ssh_keys 
  when: (ansible_hostname == "barman")

- name: Transfer public key to barman 
  delegate_to: node1
  authorized_key:
     key: "{{ ssh_keys.stdout }}" 
     comment: "{{ansible_hostname}}" 
     user: postgres 
  when: (ansible_hostname == "barman")

   # ---   end   ----

# ----     END SSH              ------  

- name: Create barman user on node 1
  become: true
  become_user: postgres 
  postgresql_user: 
    name: barman 
    password: '{{ barman_user_password }}' 
    role_attr_flags: SUPERUSER 
  when: (ansible_hostname == "node1")

- name: Add permission for barman in pg_hba.conf 
  lineinfile: 
    path: /etc/postgresql/18/main/pg_hba.conf 
    line: 'host all {{ barman_user }} {{ barman_ip }}/32 scram-sha-256'
  when: (ansible_hostname == "node1")

- name: Add permission for barman in pg_hba.conf 
  lineinfile: 
     path: /etc/postgresql/18/main/pg_hba.conf 
     line: 'host replication {{ barman_user }} {{ barman_ip }}/32 scram-sha-256'
  when: (ansible_hostname == "node1")

- name: Restart postgresql-server on node1 
  service: 
    name: postgresql 
    state: restarted 
  when: (ansible_hostname == "node1")  

- name: Copy .pgpass to barman 
  template: 
    src: .pgpass.j2 
    dest: /var/lib/barman/.pgpass 
    owner: barman 
    group: barman 
    mode: '0600' 
  when: (ansible_hostname == "barman")

- name: Copy barman.conf to barman
  template: 
    src: barman.conf.j2 
    dest: /etc/barman.conf 
    owner: barman 
    group: barman 
    mode: '0755' 
  when: (ansible_hostname == "barman") 

- name: Copy node1.conf to barman
  template: 
     src: node1.conf.j2 
     dest: /etc/barman.d/node1.conf 
     owner: barman 
     group: barman 
     mode: '0755' 
  when: (ansible_hostname == "barman") 

- name: Barman switch-wal node1 
  become_user: barman 
  shell: barman switch-wal node1 
  when: (ansible_hostname == "barman")  

- name: Barman cron 
  become_user: barman 
  shell: barman cron 
  when: (ansible_hostname == "barman")    